body {
  margin: 15px;
  padding: 15px;
  font-family:'Times New Roman', Times, serif;
  color: crimson;
}

.App {
  text-align: center;
}


.table {
  text-align: left;
  margin: 2px;
  padding: 15px;
}

.flag{
  height: 50px;;
  width: 100px;
}

.App-link {
  color: #d82ad8;
}


#inputGroupFile1{
  background-color: rgb(161, 182, 228);
}

#inputGroupFile2{
  background-color:darkgrey;
}

#inputGroupFile3{
  background-color: rgb(148, 236, 210);
}

#inputGroupFile02{
  background-color: rgb(230, 152, 233);
}

#inputGroupFile4{
  background-color: darkturquoise;
}

#inputGroupFile5{
  background-color: rgb(245, 224, 182);
}

